<launch>
    <arg name="robot_name"          default="iiwa"/>

    <!-- FollowJointTrajectory action: /controller_name/action_namespace -->
    <arg name="controller_name"     default="iiwa_controller"/>
    <arg name="action_namespace"    default="follow_joint_trajectory"/>

    <!-- libiiwa configuration (see LibIiwa class) -->
    <arg name="libiiwa_ip"          default="0.0.0.0"/>
    <arg name="libiiwa_port"        default="12225"/>

    <!-- launch ROS node -->
    <node name="libiiwa_ros" pkg="libiiwa_ros" type="node.py" output="screen" cwd="node">
        <param name="robot_name"        type="str"      value="$(arg robot_name)"/>

        <param name="controller_name"   type="str"      value="$(arg controller_name)"/>
        <param name="action_namespace"  type="str"      value="$(arg action_namespace)"/>

        <param name="libiiwa_ip"        type="str"      value="$(arg libiiwa_ip)"/>
        <param name="libiiwa_port"      type="int"      value="$(arg libiiwa_port)"/>
        <param name="run_without_communication"      type="bool"      value="true"/>
    </node>
</launch>